{% extends "blog/base_home.html" %}

{% block content %}
    <div class="login">
        <h2>Forgot password</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-info">
                    Introduce your ICN2 email.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
