{% extends "blog/base_home.html" %}

{% block content %}
    <div class="login">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

{#        <form method="POST" action="{% url 'login' %}">#}
{#        {% csrf_token %}#}
{#            <table>#}
{#            <tr>#}
{#                <td>{{ form.username.label_tag }}</td>#}
{#                <td>{{ form.username }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.password.label_tag }}</td>#}
{#                <td>{{ form.password }}</td>#}
{#            </tr>#}
{#            </table>#}
{##}
{#            <input type="submit" value="login" />#}
{#            <input type="hidden" name="next" value="{{ next }}" />#}
{#            <span>or <a href="{% url 'blog:signup' %}">Sign up</a></span>#}
{#            <span>or <a href="{% url 'password_reset' %}">Forget password</a></span>#}
{#        </form>#}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <table>
            <tr>
                <td>
                    <input type="text" name="Username" aria-describedby="usernameHelp" placeholder="Enter Username...">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="Password" placeholder="Password">
                </td>
            </tr>
            </table>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
