{% extends 'blog/base_biological.html' %}

{% block content %}
    <div class="col-md-6">
        {% for biological in biologicals %}
            <div class="inventory">
                <div class="date">
                    {{ biological.created_date }}
                </div>
                <h1><a href="{% url 'blog:biological_detail' pk=biological.pk %}">{{ biological.name }}</a></h1>
                <p>{{ biological.type_biological|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
