{% extends 'blog/base_biological.html' %}

{% block content %}
    <div class="col-md-6">
        <div class="orderDetail">
            <div class="button">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'blog:biological_edit' pk=biological.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'blog:biological_remove' pk=biological.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
            <h1>{{ biological.name }}</h1>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="messages{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="date">
                {% if biological.created_date %}
                    {{ biological.created_date }}
                {% endif %}
            </div>
            <div class="orderDetail">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">TYPE BIOLOGICAL: </span>{{ biological.type_biological }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">LOCATION: </span>{{ biological.location }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">REFERENCE: </span>{{ biological.reference }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">NUMBER OF BOTTLES: </span>{{ biological.number_bottle }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">QUANTITY: </span>{{ biological.quantity }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">SUPPLIER: </span>{{ biological.supplier }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">CONCENTRATION: </span>{{ biological.concentration }} {% if biological.concentration %}{{ biological.unit_biological }}{% endif %}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
