{% extends 'blog/base_chemical.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="inventory"  style="margin-top: 15px;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;">MOLECULAR FORMULA</th>
                            <th>NAME</th>
                            <th>BOTTLES</th>
                            <th>QUANTITY</th>
                            <th>CONCENTRATION</th>
                            <th>LOCATION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chemical in chemicals %}
                        <tr onclick="window.location='{% url 'blog:chemical_detail' pk=chemical.pk %}';">
                            <td style="vertical-align: middle; width:5%;"><strong>{{ chemical.molecular_formula }}</strong></td>
                            <td><h5><strong>{{ chemical.name }}</strong></h5></td>
                            <td style="vertical-align: middle; width:5%;">{{ chemical.number_bottle }}</td>
                            <td style="vertical-align: middle; width:5%;">{{ chemical.quantity }}</td>
                            <td style="vertical-align: middle; width:5%;">{{ chemical.molecular_weight }} {{ chemical.unit_chemical }}</td>
                            <td style="vertical-align: middle; width:5%;">{{ chemical.location }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Locations</h3>
            <div class="col-md-2">
                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2027', 'Lab2031', 'Lab2035', 'Office2099', 'Office2101');">Lab 2027</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2031', 'Lab2027', 'Lab2035', 'Office2099', 'Office2101');">Lab 2031</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2035', 'Lab2027', 'Lab2031', 'Office2099', 'Office2101');">Lab 2035</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Office2099', 'Lab2027', 'Lab2031', 'Lab2035', 'Office2101');">Office 2099</button>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Office2101', 'Lab2027', 'Lab2031', 'Lab2035', 'Office2099');">Office 2101</button>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-2 col-md-offset-1">
                <div id="Lab2027" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2027_1.jpg' %}" alt="Lab 2027" height="700">
                </div>

                <div id="Lab2031" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2031.png' %}" alt="Lab 2031" height="700">
                </div>

                <div id="Lab2035" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2035.jpg' %}" alt="Lab 2035" height="700">
                </div>

                <div id="Office2099" style="display:none;">
                    <img src="{% static 'images/planos/Office_2099.jpg' %}" alt="Office 2099" height="500">
                </div>

                <div id="Office2101" style="display:none;">
                    <img src="{% static 'images/planos/Office_2101.jpg' %}" alt="Office 2101" height="500">
                </div>
            </div>
        </div>
    </div>
    {% if chemicals.has_other_pages %}
        <div class="row">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm">
                            {% if chemicals.has_previous %}
                                <li><a href="?page={{ chemicals.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in chemicals.paginator.page_range %}
                                {% if chemicals.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if chemicals.has_next %}
                                <li><a href="?page={{ chemicals.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
