{% extends 'blog/base_chemical.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="inventory">
                {% for chemical in chemicals %}
                    <div class="date">
                        {{ chemical.created_date }}
                    </div>
                    <h1><a href="{% url 'blog:chemical_detail' pk=chemical.pk %}">{{ chemical.name }}</a></h1>
                    <p>{{ chemical.type_chemical|linebreaksbr }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if chemicals.has_other_pages %}
        <div class="row">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm">
                            {% if chemicals.has_previous %}
                                <li><a href="?page={{ chemicals.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in chemicals.paginator.page_range %}
                                {% if chemicals.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if chemicals.has_next %}
                                <li><a href="?page={{ chemicals.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
