{% extends 'blog/base_chemical.html' %}

{% block content %}
    <div class="col-md-6">
        <div class="inventory">
            {% for chemical in chemicals %}
                <div class="date">
                    {{ chemical.created_date }}
                </div>
                <h1><a href="{% url 'blog:chemical_detail' pk=chemical.pk %}">{{ chemical.name }}</a></h1>
                <p>{{ chemical.type_chemical|linebreaksbr }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
