{% extends 'blog/base_chip.html' %}

{% block content %}
    <div class="col-md-6">
        <div class="orderDetail">
            <div class="button">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'blog:chip_edit' pk=chip.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'blog:chip_remove' pk=chip.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <p></p>
                    <a class="btn btn-default" href="{% url 'blog:waveguide_list' pk=chip.pk %}"><span>Waveguides</span></a>
                {% endif %}
            </div>
            <h1>{{ chip.type_object }}</h1>
            <!-- <div class="date">
                {% if chip.created_date %}
                    {{ chip.created_date }}
                {% endif %}
            </div> -->
            <div class="chipDetail">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">RUN: </span>{{ chip.run.run }}</p>
                    </li>
                    <!-- <li class="list-group-item">
                        <p><span style="font-weight: bold;">RUN SPECIFICATIONS: </span>{{ run.run_specifications }}</p>
                    </li> -->
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">WAFER: </span>{{ chip.wafer.wafer }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">CHIP: </span>{{ chip.chip }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">DATE: </span>{{ chip.date }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">LASER SOURCE: </span>{{ chip.laser_source }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">READOUT: </span>{{ chip.readout }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">USER: </span>{{ chip.user_name }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">COMMENTS: </span>{{ chip.comments }}</p>
                    </li>
                    <!-- <li class="list-group-item">
                        <p><span style="font-weight: bold;">KEYBOARD: </span>{{ run.keyboard }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">MOUSE: </span>{{ run.mouse }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">OTHERS: </span>{{ run.others }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">SETUP: </span>{{ run.setup }}</p>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
