{% extends 'blog/base_chip.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1>New Chip</h1>
            <form method="POST">
                {% csrf_token %}
                <!-- {{ runForm.as_p }}
                {{ waferForm.as_p }}
                {{ chipForm.as_p }} -->
                <!-- {% for runField in runForm %}
                    <div id="{{ runField.auto_id }}_container">
                        <table style="width:100%">
                            <tr>
                                <th>
                                    {{ runField.label_tag }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ runField }} <span class="form-text text-muted">{{ runField.help_text }}</span>
                                </th>
                            </tr>
                        </table>
                        <div id="{{ runField.auto_id }}_errors">
                            {{ runField.errors }}
                        </div>
                    </div>
                {% endfor %} -->
                <!-- {% for waferField in waferForm %}
                    <div id="{{ waferField.auto_id }}_container">
                        <table style="width:100%">
                            <tr>
                                <th>
                                    {{ waferField.label_tag }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ waferField }} <span class="form-text text-muted">{{ waferField.help_text }}</span>
                                </th>
                            </tr>
                        </table>
                        <div id="{{ waferField.auto_id }}_errors">
                            {{ waferField.errors }}
                        </div>
                    </div>
                {% endfor %} -->
                {% for chipField in chipForm %}
                    <div id="{{ chipField.auto_id }}_container">
                        <table style="width:100%">
                            <tr>
                                <th>
                                    {{ chipField.label_tag }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ chipField }} <span class="form-text text-muted">{{ chipField.help_text }}</span>
                                </th>
                            </tr>
                        </table>
                        <div id="{{ chipField.auto_id }}_errors">
                            {{ chipField.errors }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>

{% endblock %}
