{% extends 'blog/base_electronic.html' %}

{% block content %}
    <div class="orderDetail">
        <div class="button">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'blog:electronic_edit' pk=electronic.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'blog:electronic_remove' pk=electronic.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
        <h1>{{ electronic.type_component }}</h1>
        <div class="date">
            {% if electronic.created_date %}
                {{ electronic.created_date }}
            {% endif %}
        </div>
        <div class="orderDetail">
            <ul class="list-group">
                <li class="list-group-item">
                    <p><span style="font-weight: bold;">Value: </span>{{ electronic.value }} {{ electronic.unit }}</p>
                </li>
                <li class="list-group-item">
                    <p><span style="font-weight: bold;">Location: </span>{{ electronic.location }}</p>
                </li>
                <li class="list-group-item">
                    <p><span style="font-weight: bold;">Closet: </span>{{ electronic.closet }}</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
