{% extends 'blog/base_electronic.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% for electronic in electronics %}
                <div class="inventory">
                    <!-- <div class="date">
                        {{ electronic.created_date }}
                    </div> -->
                    <h1><a href="{% url 'blog:electronic_list' component=electronic.name %}">{{ electronic.name }}</a></h1>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
