{% extends 'blog/base_inventory.html' %}

{% block content %}
    <div class="element">
        <h1><a href="{% url 'blog:computing_list' %}">Computing</a></h1>
        <h1><a href="{% url 'blog:electronic_list' %}">Electronic</a></h1>
        <h1><a href="{% url 'blog:optic_list' %}">Optic</a></h1>
        <h1><a href="{% url 'blog:chemical_list' %}">Chemical</a></h1>
        <h1><a href="{% url 'blog:biological_list' %}">Biological</a></h1>
        <h1><a href="{% url 'blog:instrumentation_list' %}">Instrumentation</a></h1>
    </div>
{% endblock content %}
