{% extends 'blog/base_instrumentation.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1>New Instrumentation</h1>
            <form method="POST" class="inventory-form">
                {% csrf_token %}

                <div class="row">
                    <span class="col-md-3">{{ form.type_instrumentation.label_tag }}</span>
                    {{ form.type_instrumentation }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.subtype_instrumentation.label_tag }}</span>
                    {{ form.subtype_instrumentation }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.model.label_tag }}</span>
                    {{ form.model }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.quantity.label_tag }}</span>
                    {{ form.quantity }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.manufacturer.label_tag }}</span>
                    {{ form.manufacturer }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.supplier.label_tag }}</span>
                    {{ form.supplier }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.location.label_tag }}</span>
                    {{ form.location }}
                </div>
                <div class="row" style="padding-top: 10px;">
                    <span class="col-md-3">{{ form.characteristics.label_tag }}</span>
                    {{ form.characteristics }}
                    <small class="form-text text-muted">{{ form.characteristics.help_text|safe }}</small>
                </div>

                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
        <div class="col-md-5">
            <h3>Locations</h3>
            <div class="col-md-2">
                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2027', 'Lab2031', 'Lab2035', 'Office2099', 'Office2101');">Lab 2027</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2031', 'Lab2027', 'Lab2035', 'Office2099', 'Office2101');">Lab 2031</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Lab2035', 'Lab2027', 'Lab2031', 'Office2099', 'Office2101');">Lab 2035</button>
                </div>

                <div class="row" style="margin-right: 20px; margin-bottom: 20px;">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Office2099', 'Lab2027', 'Lab2031', 'Lab2035', 'Office2101');">Office 2099</button>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-default" onclick="toggle_visibility('Office2101', 'Lab2027', 'Lab2031', 'Lab2035', 'Office2099');">Office 2101</button>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-2">
                <div id="Lab2027" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2027_1.jpg' %}" alt="Lab 2027" height="700">
                </div>

                <div id="Lab2031" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2031.png' %}" alt="Lab 2031" height="700">
                </div>

                <div id="Lab2035" style="display:none;">
                    <img src="{% static 'images/planos/Lab_2035.jpg' %}" alt="Lab 2035" height="700">
                </div>

                <div id="Office2099" style="display:none;">
                    <img src="{% static 'images/planos/Office_2099.jpg' %}" alt="Office 2099" height="500">
                </div>

                <div id="Office2101" style="display:none;">
                    <img src="{% static 'images/planos/Office_2101.jpg' %}" alt="Office 2101" height="500">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
