{% extends 'blog/base_inventory.html' %}

{% block content %}
    <div class="inventory">
        <h1><a href="{% url 'blog:computing_list' %}">Computing</a></h1>
        <h1><a href="{% url 'blog:electronic_list_type_components' %}">Electronic</a></h1>
        <h1><a href="{% url 'blog:optic_list_type_optic' %}">Optic</a></h1>
        <h1><a href="{% url 'blog:chemical_list_type_chemical' %}">Chemical</a></h1>
        <h1><a href="{% url 'blog:biological_list_type_biological' %}">Biological</a></h1>
        <h1><a href="{% url 'blog:instrumentation_list_type' %}">Instrumentation</a></h1>
        <h3><a href="{% url 'blog:download_list' %}">Download Inventory</a></h3>
    </div>
{% endblock content %}
