{% extends 'blog/base_optic.html' %}

{% block content %}
    <div class="col-md-6">
        <div class="orderDetail">
            <div class="button">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'blog:optic_edit' pk=optic.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'blog:optic_remove' pk=optic.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
            <h1>{{ optic.type_optic }}</h1>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p{% if message.tags %} class="messages{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="date">
                {% if optic.created_date %}
                    {{ optic.created_date }}
                {% endif %}
            </div>
            <div class="orderDetail">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">Description: </span>{{ optic.description }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><span style="font-weight: bold;">Location: </span>{{ optic.location }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
