{% extends "blog/base_order.html" %}

{% block content %}
    <div class="login">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="messages{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
        {% csrf_token %}
            <table style="border:2px solid">
                <tr>
                    <td style="padding:5px"></td>
                    <td>
                        {{ message_1 }}
                        <p></p>
                        <textarea name="message" rows="8" cols="80">{{ message_2 }}{{ message_3 }}</textarea>
                        <p></p>
                        {{ message_4 }}
                        <p></p>
                        {{ message_5 }}
                    </td>
                    <td style="padding:5px"></td>
                </tr>
            </table>

            <h4>Introduce your username and password of ICN2 account.</h4>
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <button type="submit" class="send btn btn-default">Notify</button>
        </form>
    </div>
{% endblock %}
