{% extends 'blog/base_order.html' %}
{% load static %}

{% block content %}
    <h1>Edit Order</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="messages{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form id="myForm" method="POST" action="">
        {% csrf_token %}
        {{ order_form.as_p }}

        {{ supplier_form.as_p }}

        {% if noItem == False %}
            <table class="table" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit price <strong style="color: red;">(Write the decimals with comma ",".)</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in products_formset.forms %}
                        {% if forloop.counter <= count %}
                            <tr>
                                <td>
                                    {{ form.description }}
                                    {% if form.description.errors %}
                                        {% for error in form.description.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ form.quantity }}
                                    {% if form.quantity.errors %}
                                        {% for error in form.quantity.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ form.unit_price }}
                                    {% if form.unit_price.errors %}
                                        {% for error in form.unit_price.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% if products_formset.non_form_errors %}
                        {% for error in products_formset.non_form_errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        {% endif %}

        {{ products_formset.management_form }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
