{% extends 'blog/base_order.html' %}
{% load staticfiles %}

{% block content %}
    <h1>New Order</h1>
    <form id="myForm" method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <span class="col-md-3">{{ order_form.name.label_tag}}</span>
            {{ order_form.name }}
            <small class="form-text text-muted">{{ order_form.name.help_text|safe }}</small>
        </div>
        <div class="row" style="padding-top: 10px;">
            <span class="col-md-3">{{ order_form.applicant.label_tag}}</span>
            {{ order_form.applicant }}
            <small class="form-text text-muted">{{ order_form.applicant.help_text|safe }}</small>
        </div>
        <div class="row" style="padding-top: 10px;">
            <span class="col-md-3">{{ order_form.budget.label_tag}}</span>
            {{ order_form.budget }}
            <small class="form-text text-muted">{{ order_form.budget.help_text|safe }}</small>
        </div>
        <div class="row" style="padding-top: 10px;">
            <span class="col-md-3">{{ order_form.type_of_purchase.label_tag}}</span>
            {{ order_form.type_of_purchase }}
            <small class="form-text text-muted">{{ order_form.type_of_purchase.help_text|safe }}</small>
        </div>
        <div class="row" style="padding-top: 10px;">
            <span class="col-md-3">{{ order_form.payment_conditions.label_tag}}</span>
            {{ order_form.payment_conditions }}
            <small class="form-text text-muted">{{ order_form.payment_conditions.help_text|safe }}</small>
        </div>
        <div class="row" style="padding-top: 10px;">
            <span class="col-md-3">{{ order_form.supplier.label_tag}}</span>
            {{ order_form.supplier }}
            <small class="form-text text-muted">{{ order_form.supplier.help_text|safe }}</small>
        </div>

        {% if addSupplier %}
            <div style="padding-top: 10px;">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p{% if message.tags %} class="messages{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3"><strong>Name Supplier:</strong></span>
                {{ supplier_form.name }}
            </div>
            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3">{{ supplier_form.attention.label_tag}}</span>
                {{ supplier_form.attention }}
            </div>
            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3">{{ supplier_form.address.label_tag}}</span>
                {{ supplier_form.address }}
            </div>
            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3">{{ supplier_form.city_postCode.label_tag}}</span>
                {{ supplier_form.city_postCode }}
            </div>
            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3">{{ supplier_form.phone.label_tag}}</span>
                {{ supplier_form.phone }}
            </div>
            <div class="row" style="padding-top: 10px;">
                <span class="col-md-3">{{ supplier_form.fax.label_tag}}</span>
                {{ supplier_form.fax }}
            </div>
            <div class="row" style="padding-top: 10px; padding-bottom: 30px;">
                <span class="col-md-3">{{ supplier_form.email.label_tag}}</span>
                {{ supplier_form.email }}
            </div>
        {% endif %}

        <table class="table" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit price <strong style="color: red;">(Write the decimals with comma ",".)</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for form in products_formset.forms %}
                    <tr>
                        <td>
                            {{ form.description }}
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {{ form.quantity }}
                            {% if form.quantity.errors %}
                                {% for error in form.quantity.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {{ form.unit_price }}
                            {% if form.unit_price.errors %}
                                {% for error in form.unit_price.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                {% if products_formset.non_form_errors %}
                    {% for error in products_formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

            </tbody>
        </table>

        {{ products_formset.management_form }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
