{% extends 'blog/base_order.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="order">
                {% for order in orders %}
                    <div class="date">
                        {{ order.created_date }}
                    </div>
                    <h1><a href="{% url 'blog:order_detail' pk=order.pk %}">{{ order.name }}</a></h1>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if orders.has_other_pages %}
        <div class="row">
            <div class="col-md-6">
                <div style="text-align: center;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm">
                            {% if orders.has_previous %}
                                <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in orders.paginator.page_range %}
                                {% if orders.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if orders.has_next %}
                                <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
