{% extends 'blog/base_run.html' %}

{% block content %}
    <div class="col-md-7">
        {% for run in runs %}
            <div class="run">
                <!-- <div class="date">
                    {{ run.created_date }}
                </div> -->
                <!-- <p>{{ run.run }}</p> -->
                <h1><a href="{% url 'blog:wafer_list' pk=run.pk %}">RUN: {{ run.run }}</a></h1>
                <p><span style="font-weight: bold;">Specification: </span>{{ run.run_specifications|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
