{% extends 'blog/base_run.html' %}

{% block content %}
    <div class="col-md-7">
        {% for run in runs %}
            <div class="run">
                <!-- <div class="date">
                    {{ run.created_date }}
                </div> -->
                <!-- <p>{{ run.run }}</p> -->
                <div class="row">
                    <div class="col-md-1">
                        <p style="height:15px"></p>
                        <div class="button">
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'blog:run_edit' pk=run.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-11">
                        <h1><a href="{% url 'blog:wafer_list' pk=run.pk %}">RUN: {{ run.run }}</a></h1>
                        <p><span style="font-weight: bold;">Specification: </span>{{ run.run_specifications|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
