{% extends 'blog/base_wafer.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% for wafer in wafers %}
                <div class="wafer">
                    <!-- <div class="date">
                        {{ chip.created_date }}
                    </div> -->
                    <!-- <p>{{ chip.chip }}</p> -->
                    <h1><a href="{% url 'blog:wafer_chip_list' pk=wafer.pk %}">Wafer: {{ wafer.wafer }}</a></h1>
                    <p><span style="font-weight: bold;">Run: </span>{{ wafer.run.run }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
