{% extends 'blog/base_wafer.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1>New Wafer</h1>
            <form method="POST">
                {% csrf_token %}
                {% for runField in runForm %}
                    <div id="{{ runField.auto_id }}_container">
                        {{ runField.help_text }}
                        <table style="width:100%">
                            <tr>
                                <th>
                                    {{ runField.label_tag }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ runField }}
                                </th>
                            </tr>
                        </table>
                        <div id="{{ runField.auto_id }}_errors">
                            {{ runField.errors }}
                        </div>
                    </div>
                {% endfor %}
                {% for waferField in waferForm %}
                    <div id="{{ waferField.auto_id }}_container">
                        {{ waferField.help_text }}
                        <table style="width:100%">
                            <tr>
                                <th>
                                    {{ waferField.label_tag }}
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{ waferField }}
                                </th>
                            </tr>
                        </table>
                        <div id="{{ waferField.auto_id }}_errors">
                            {{ waferField.errors }}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>

{% endblock %}
