{% extends 'blog/base_waveguide.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            {% for waveguide in waveguides %}
                <div class="inventory">
                    <!-- <div class="date">
                        {{ chip.created_date }}
                    </div> -->
                    <!-- <p>{{ chip.chip }}</p> -->
                    <h1><a href="{% url 'blog:waveguide_detail' pk=waveguide.chip.pk pk2=waveguide.pk %}"
                        onmouseover="chip_visibility('Waveguide_{{forloop.counter}}', 'ChipFull');"
                        onmouseout="chip_visibility('Waveguide_{{forloop.counter}}', 'ChipFull');">{{ waveguide.name }}</a></h1>
                    <p>{{ waveguide.run.run }}</p>
                    <p>{{ waveguide.wafer.wafer }}</p>
                    <p>{{ waveguide.chip.chip }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-5">
            <div class="col-md-2">
                <div id="ChipFull" class="imageChipFull">
                    <img src="{% static 'images/chip/chip_v4-0.png' %}" alt="Chip Full" height="700">
                </div>

                <div id="Waveguide_1" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-1.png' %}" alt="Waveguide 1" height="700">
                </div>

                <div id="Waveguide_2" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-2.png' %}" alt="Waveguide 2" height="700">
                </div>

                <div id="Waveguide_3" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-3.png' %}" alt="Waveguide 3" height="700">
                </div>

                <div id="Waveguide_4" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-4.png' %}" alt="Waveguide 4" height="700">
                </div>

                <div id="Waveguide_5" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-5.png' %}" alt="Waveguide 5" height="700">
                </div>

                <div id="Waveguide_6" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-6.png' %}" alt="Waveguide 6" height="700">
                </div>

                <div id="Waveguide_7" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-7.png' %}" alt="Waveguide 7" height="700">
                </div>

                <div id="Waveguide_8" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-8.png' %}" alt="Waveguide 8" height="700">
                </div>

                <div id="Waveguide_9" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-9.png' %}" alt="Waveguide 9" height="700">
                </div>

                <div id="Waveguide_10" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-10.png' %}" alt="Waveguide 10" height="700">
                </div>

                <div id="Waveguide_11" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-11.png' %}" alt="Waveguide 11" height="700">
                </div>

                <div id="Waveguide_12" class="imageChip">
                    <img src="{% static 'images/chip/chip_v4-12.png' %}" alt="Waveguide 12" height="700">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
